.button {
  border-radius: 20px;

  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 80px;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: #333;

  color: #fff;
}

.button:hover {
  color: #333;
  background-color: #fff;
}

.initial {
  border: 2px solid gray;
}

.withoutBorder {
  border: none;
  background-color: #fff;
  color: #333;
}
