.page {
  min-height: 100vh;
}

.searchContainer {
  display: flex;
  width: 100%;
  padding: 40px 180px;
  gap: 24px;
  align-items: center;
}

.contentContainer {
  display: flex;
  width: 100%;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
