.container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 180px 60px 180px;
}

.contentContainer {
  display: grid;
  grid-template-columns: 360px 3fr;
  border-top: 2px solid gray;
}

.contentContainer:last-child {
  border-bottom: 2px solid gray;
}

.partOfSpeech {
  padding: 20px 0;
  border-right: 2px solid gray;
  text-transform: capitalize;
  padding-left: 180px;
}

.meanings {
  padding: 20px 0 20px 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.headerWord {
  font-size: 48px;
  text-transform: capitalize;
}

.wordsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 4px;
}

.wordsListContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.wordsListItem {
  cursor: pointer;
  color: #0096ff;
}
